@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

body {
    margin: 0;
    font-family: Han Sans TW;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

/*-----header-----*/
header {
    min-height: 65px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.header__container {
    padding-top: 5px;
    max-width: 1140px;
}

header:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
    background: #0089d1;
    background: linear-gradient(to right, #0089d1 5%, #01b6b2 95%);
}

.navbar {
    font-size: 18px;
    font-weight: bold;
    color: #808080;
}

.navbar__share{
    width: 75px;
}

.navbar__list {
    justify-content: flex-end;
    font-size: 16px;
    color: #333;
}

.nav__item__line{
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('/img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
}

.nav__item__line:hover{
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('/img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
    background-position: 0 -30px;
}

.nav__item__fb{
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('/img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
    background-position: -30px 0;
}

.nav__item__fb:hover{
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('/img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
    background-position: -30px -30px;
}
/*------sidebar-----*/
/* .sidebar{
    position: fixed;
    z-index: 99;
    top: 379px;
    right: 19px;
}

#side{
    width: 75px;
    height: 75px;
    background: transparent url('img/top.png') 0% 0% no-repeat padding-box;
    cursor: pointer;
}

#side-1{
    position: fixed;
    margin-top: 40px;
    right: 43px;
    text-align: left;
    font: normal normal normal 14px/32px Helvetica Neue;
    letter-spacing: 0px;
    color: #999999;
} */


/*-------主視覺-----*/
article{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    background-image: url('/img/kv_bg.png') ;
}

@media screen and (max-width:576px){ 
    article{
        width: 100%;
        background-image:none;
    }
}
/*------main------*/
.main-container, .warning {
    max-width: 1140px;
}

.group{
    position: relative;
}

@media screen and (max-width:576px){ 
    .group{
       margin-bottom: 40px;
    }
}

.group-content:before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
    border-bottom: 2px solid #E9E9E9;
    z-index: 1;
}

.group-up{
    position: relative;
    z-index: 2;
}

.main-title{
color: #333;
font-weight:500;
}

.group-img{
border-radius: 8px;
overflow: hidden;
border: 1px solid #E6E6E6;
z-index: 9999;
}

.group-inf__title{
 font-weight:bolder;
 font-size: 25px;
}

.group__btn{
    padding-left: 40px;
    padding-right: 40px;
    color: #FA810D;
    background: #FFEC9F;
    text-decoration: none;
    font-weight: bold;
}

.group__btn:hover {
    color: white;
    background: #FA810D;
}

.group__btn__active {
    color: white;
    background: #FA810D;
}

.content{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/*-----warning-----*/
.warning{
max-width: 1140px;
}

/*-----更新版本-----*/
.update_vision {
    max-width: 1140px;
    text-align: end;
    font-size: 16px;
    color: #7c7c7c;
    padding: 20px 0;
    font-weight: bold;
}

/*----footer----*/
.footer-container{
    max-width: 980px;
}

.footer-link ul li a:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #fff;
    margin: 0 10px;
    opacity: .5;
    vertical-align: middle
}

.footer-link ul li:first-child a:before{/*使第一個a的before失效*/
    display: none;
}

footer {
    padding: 32px 0;
    font-size: 12px;
    width: 100%;
    text-align: center;
    background: #6b6b6b 0% 0% no-repeat padding-box;
}

ul {
    list-style-type: none;
    padding-left: 30px;

}

ul li {
    padding-left: 10px;
    height: 25px;    
    display: inline-block;/*直的變橫的*/
}

.footer-link ul li a{
    color: #fff;
    text-decoration: none;
}

.about {
    font-family: JhengHei;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 12PX;
}